.logo {
  width: 260px;
  position: fixed;
  top: 38px;
  left: 4vw;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 180px;
    top: 21px;
  }
}

.logo.black svg path {
  fill: #333;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.header-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 36.1vw;
  height: 100vh;
  padding: 120px 0 0;
  background-color: rgba(34, 34, 34, 0.95);
  z-index: 2;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

@media screen and (max-width: 768px) {
  .header-nav {
    width: 67.7vw;
  }
}

.header-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: opacity .3s , -webkit-transform .3s;
  transition: opacity .3s , -webkit-transform .3s;
  transition: transform .3s , opacity .3s;
  transition: transform .3s , opacity .3s , -webkit-transform .3s;
}

.nav-item {
  margin-bottom: 30px;
}

.nav-item:first-of-type {
  margin-bottom: 40px;
}

.nav-item:last-of-type {
  margin-bottom: 0;
}

.header-nav a {
  color: #fff;
}

.burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 38px;
  right: 4vw;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .burger-btn {
    top: 28px;
  }
}

.bar {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1px;
}

.bar-top {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.bar-bottom {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.bar.cross.bar-top {
  -webkit-transform: translateY(2px) rotate(30deg);
          transform: translateY(2px) rotate(30deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.bar.cross.bar-mid {
  opacity: 0;
}

.bar.cross.bar-bottom {
  -webkit-transform: translateY(-2px) rotate(-30deg);
          transform: translateY(-2px) rotate(-30deg);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.menu {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-left: 5px;
}

body.noscroll {
  overflow: hidden;
}

.burger-musk {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.burger-btn.black .bar {
  background-color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

.burger-btn.black .menu {
  color: #333;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.fv {
  height: 100vh;
}

.fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #222;
  z-index: -1;
}

.kv-wrapper {
  height: 86.5%;
  width: 76.4%;
  background-image: url(img/kv-img.png);
  background-size: cover;
  background-position: center 0;
  position: relative;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .kv-wrapper {
    height: 86.5%;
    width: 76.4%;
    background-image: url(/img/kv-img@2x.png);
    background-size: cover;
    background-position: center 0;
    position: relative;
  }
}

.copy-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .copy-wrapper {
    right: -15%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.copy-jp {
  font-size: 2rem;
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .copy-jp {
    font-size: 1.6rem;
  }
}

.copy-company {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .copy-company {
    font-size: 1.6rem;
  }
}

.main-copy {
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .main-copy {
    font-size: 5.4rem;
  }
}

.about-bg {
  background-image: url(/img/about-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 110px 0 110px 50px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .about-bg {
    background-image: url(/img/about-img@2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 0 110px 50px;
  }
}

.about-content {
  max-width: 590px;
  padding: 50px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.95);
}

@media screen and (max-width: 768px) {
  .about-content {
    margin: 0 auto;
  }
}

.l-section-wrapper {
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  .l-section-wrapper {
    padding: 40px 0;
  }
}

.l-content-wrapper {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .l-content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 4vw;
  }
}

.s-section-wrapper {
  width: 47.3%;
}

@media screen and (max-width: 768px) {
  .s-section-wrapper:first-of-type {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .s-section-wrapper {
    width: 520px;
    max-width: 100%;
  }
}

.section-img-wrapper {
  margin-bottom: 30px;
}

.topic-list {
  max-width: 700px;
}

.list-item {
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .list-item {
    margin-bottom: 20px;
  }
}

.date {
  font-size: 1rem;
  font-weight: bold;
  color: #cecece;
}

.topic__ttl {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

@media screen and (max-width: 768px) {
  .topic__ttl {
    font-size: 1.2rem;
  }
}

.contact-content {
  width: 40%;
  margin-right: 80px;
}

@media screen and (max-width: 768px) {
  .contact-content {
    width: 440px;
    max-width: 100%;
    margin-top: 30px;
  }
}

.contact-img-wrapper {
  width: 52.7%;
}

@media screen and (max-width: 768px) {
  .contact-img-wrapper {
    width: 520px;
    max-width: 100%;
  }
}

.footer {
  line-height: 50px;
  text-align: center;
  background-color: #525252;
  color: #fff;
  font-size: 1rem;
}
/*# sourceMappingURL=stylesheet.css.map */
